<p>
	<%= button_to "Home", api_v1_admin_index_url, :method => :get %>
</p>
<h2>Add Category</h2>
<p>
	<%= button_to "Create Product", new_api_v1_product_url, :method => :get %>
</p>
<h1>Your Pragmatic Catalog</h1>
<div>
	<table border = 1.0>
	  <thead>
	    <tr>
	      <td>Product Name</td>
	      <td>Category</td>
	      <td>Price per Unit</td>
	      <td>City</td>
	      <td>Action</td>
	    </tr>
	  </thead>
	  <tbody>
	  	<% @product_price.each do |price| %>
	      <tr>
	      	<td><%= price.product.p_name %></td>
          	<td><%= price.category %></td>
          	<td><%= price.price_per_unit %> / <%= price.unit %></td>
          	<td><%= City.find(price.city_id).city_name rescue nil %></td>
			<td><%= link_to 'Edit', edit_api_v1_product_price_url(price) %><br>
				<%= link_to 'Delete', api_v1_product_price_path(price), :method => :delete %>
		</td>
	      </tr>
	    <%- end -%>
	  </tbody>
	</table>
</div>